.paginate {
  margin: 8px;
  display: flex;
  justify-content: center;

  li {
    display: inline-flex;
    text-align: center;

    a {
      width: 45px;
      height: 33px;
      padding-top: 12px;
      margin: 4px;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }
  }
}

:global {
  .selected {
    a {
      background-color: #000;
      color: white;
    }
  }
}
