.page {
  h1,
  p,
  i,
  li,
  .skills,
  .description {
    margin: 12px 32px;
  }

  .player {
    margin: 32px;
    .hint {
      transform: translateX(-50%);
      margin-left: 50%;
      width: fit-content;
    }
  }
}
