.page {
  h1,
  p,
  i,
  li,
  .skills,
  .description {
    margin: 12px 32px;
  }

  i {
    opacity: 0.9;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .player {
    margin: 32px;
  }
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  margin: 12px 32px;
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  li {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .numeral {
    font-weight: 400;
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    margin: 0 0 0 2px;
    color: rgba(0, 0, 0, 0.3);
  }
  .left6px {
    transform: translateX(-6px);
  }
}

video {
  margin: 30px !important;
  width: calc(100% - 60px) !important;
  height: auto !important;
}

:global .react-player__preview {
  min-height: 500px;
}
