.page {
  h1,
  p,
  li,
  .skills,
  .description {
    margin: 12px 32px;
  }

  .tags{
    display: flex;
    margin: 12px 28px;
  }

  .tag{
    display: flex;
    max-height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 16px;
    border-color: rgb(234, 85, 43);
    color: rgb(234, 85, 43);
    width: fit-content;
    margin: 4px;
    cursor: default;
  }

  .player {
    margin: 32px;
  }
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  margin: 12px 32px;
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  li {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .numeral {
    font-weight: 400;
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    margin: 0 0 0 2px;
    color: rgba(0, 0, 0, 0.3);
  }
  .left6px {
    transform: translateX(-6px);
  }
}

video {
  margin: 30px !important;
  width: calc(100% - 60px) !important;
  height: auto !important;
}

:global .react-player__preview {
  min-height: 500px;
}
