header {
  position: sticky;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(62, 0, 155, 0.275);
  display: flex;
  align-items: center;
  z-index: 3;

  .back {
    height: 40px;
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: rgb(0 166 152);
  }
}

.course {
  display: flex;

  nav {
    height: calc(100vh - 60px);
    width: 240px;
    overflow-y: scroll;
    z-index: 2;

    li {
      padding: 16px 8px;
      margin: 0;
      overflow-x: visible;
      overflow-wrap: none;
      cursor: pointer;

      &.selected {
        background-color: rgb(0 166 152);
        color: rgb(255, 255, 255);
        border-radius: 16px;
      }

      &.locked {
        color: rgb(200, 200, 200);
        cursor: not-allowed;
      }
    }
  }

  .lesson {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    overflow-y: scroll;
  }
}
