header {
  position: fixed;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  z-index: 3;

  .back {
    height: 40px;
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(200, 200, 200);
      border-bottom: 1px solid rgb(100, 100, 100);
    }
  }
}

.course {
  display: flex;

  nav {
    margin-top: 40px;
    height: calc(100vh - 40px);
    width: 240px;
    overflow-y: scroll;
    z-index: 2;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7);

    li {
      padding: 16px 8px;
      margin: 0;
      overflow-x: visible;
      overflow-wrap: none;
      cursor: pointer;

      &:hover {
        background-color: rgb(224, 224, 224);
      }

      &.selected {
        background-color: rgb(0, 0, 0);
        color: rgb(200, 200, 200);
      }

      &.locked {
        background-color: rgb(200, 200, 200);
      }
    }
  }

  .lesson {
    margin-top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
    background-color: rgba(224, 224, 224);
    overflow-y: scroll;


  }
}